html {
	font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 600;
  background-color: #ccc;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
	font-family: 'Anton', sans-serif;
  font-weight: 700;
  margin: 40px
}