html {
	font-family: 'Josefin Slab', serif;
  font-weight: 600;
  background-color: #ccc;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
}

h1 {
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
}